extends layout

block content
  h1= title

  div.mb-3
    a.btn.btn-primary.me-3(href=url+'/edit') Edit
  form.mb-3(method='POST', action=url+'/delete')
    button.btn.btn-primary.me-3(type='submit') Delete

  - var detailArray = Object.entries(details)
    each detail in detailArray
      div.mb-3
        span #[strong #{detail[0]}]
        p #{detail[1]}
