extends layout

block content
  //- title, resources, category, id, details
  - const name = category.slice(category.search(/\w/g))
  - const resource = resources.find(resource => resource.category === name)
  - const attributes = resource.attributes
  h1= name.charAt(0).toUpperCase() + name.slice(1) + ' ' + title

  div.mb-3
    a.btn.btn-primary.me-3(href=category+id+'/edit') Edit
  form.mb-3(method='POST', action=category+id+'/delete')
    button.btn.btn-primary.me-3(type='submit') Delete

  //- render ID
  div.mb-3
    span #[strong ID]
    p #{details._id}
  //- render attributes
  each attribute in attributes
    - const value = details[attribute.name]
    div.mb-3
      span #[strong #{attribute.name}]
      if attribute.type === 'database'
        p
          a(href='/'+attribute.name+'/'+value) #{value}
      else
        p #{value}
