//- view for both create and update

extends layout

block content
  //- title, resources, resourceAttributeTypes, category, details
  - const name = category.slice(category.search(/\w/g))
  h1= title + ' ' + name

  form.mb-3(method='POST', action='')
    button.btn.btn-primary.mb-3(type='submit') Submit

    - const resource = resources.find(resource => resource.category === name)
    - const attributes = resource.attributes
    - const attrTypeMap = resourceAttributeTypes
    each attribute in attributes
      - const value = details === undefined ? undefined : details[attribute.name]
      div.mb-3
        label.d-block(for=attribute.name) #[strong #{attribute.name}]
        if attribute.type !== 'boolean'
          - console.log(attribute.name) // debug
          input(id=attribute.name,
                type=attrTypeMap[attribute.type],
                name=attribute.name,
                value=(value === undefined? '' : value)
                required)
        else if value === true
          input(id=attribute.name,
                type=attrTypeMap[attribute.type],
                name=attribute.name,
                checked)
                //- boolean: checked, optional
        else
          input(id=attribute.name,
                type=attrTypeMap[attribute.type],
                name=attribute.name)
                //- boolean: unchecked, optional

//- extends layout

//- block content
//-   - const name = category.slice(category.search(/\w/g))
//-   h1= name.charAt(0).toUpperCase() + name.slice(1) + ' ' + title

//-   form.mb-3(method='POST', action='')
//-     button.btn.btn-primary.mb-3(type='submit') Submit

//-     - var detailArray = Object.entries(details)
//-       each detail in detailArray
//-         div.mb-3
//-           if detail[0] === '_id'
//-             span #[strong #{detail[0]}]
//-             p #{detail[1]}
//-           else
//-             label.d-block(for=detail[0]) #[strong #{detail[0]}]
//-             input(id=detail[0],
//-                   type='text',
//-                   name=detail[0],
//-                   required='true',
//-                   value=detail[1])
