extends layout

block content
  - const name = resource.slice(resource.search(/\w/g))
  h1= name.charAt(0).toUpperCase() + name.slice(1) + ' ' + title

  form.mb-3(method='POST', action='')
    button.btn.btn-primary.mb-3(type='submit') Submit

    - var detailArray = Object.entries(details)
      each detail in detailArray
        div.mb-3
          if detail[0] === '_id'
            span #[strong #{detail[0]}]
            p #{detail[1]}
          else
            label.d-block(for=detail[0]) #[strong #{detail[0]}]
            input(id=detail[0],
                  type='text',
                  name=detail[0],
                  required='true',
                  value=detail[1])
