extends layout

block content
  //- title, resources, detailLevel, category, inventory
  - const resource = resources.find(resource => resource.category === category)
  - const attributes = resource.attributes
  - const level = detailLevel <= 0 ? 1 : detailLevel

  h1= category.charAt(0).toUpperCase() + category.slice(1) + ' ' + title

  each details in inventory
    hr
    //- render ID
    div.mb-3
      span #[strong ID]
      p
        a(href=category+'/'+details._id) #{details._id}
    //- render attributes
    each attribute in attributes.slice(0, level)
      - const value = details[attribute.name]
      div.mb-3
        span #[strong #{attribute.name}]
        if attribute.type === 'database'
          p
            a(href='/'+attribute.name+'/'+value) #{value}
        else
          p #{value}
